
<div id="about" class="slide">
    <div class="textContent">
        <span>
            Hey My name is Somy
            I’m front end developer
            Scroll down to see my cool website <br/>
        </span>
        <span>
            Some of tools I work with:
        </span>
        <ul class="">
            <li>
                <img src="assets/images/about/html5.png" alt=""/>
                <span class="skillAnimation">HTML5</span>
            </li>
            <li>
                <img src="assets/images/about/css3.png" alt=""/>
                <span class="skillAnimation">CC3</span>
            </li>
            <li>
                <img src="assets/images/about/javascript.png" alt=""/>
                <span class="skillAnimation">JavaScript</span>
            </li>
            <li>
                <img src="assets/images/about/jquery.png" alt=""/>
                <span class="skillAnimation">jquery</span>
            </li>
            <li>
                <img src="assets/images/about/sass-less.png" alt=""/>
                <span class="skillAnimation">SASS</span>
            </li>
            <li>
                <img src="assets/images/about/bootstrap.png" alt=""/>
                <span class="skillAnimation">Bootstrap</span>
            </li>
            <li>
                <img src="assets/images/about/handlebars.png" alt=""/>
                <span class="skillAnimation">Handlebars</span>
            </li>
            <li>
                <img src="assets/images/about/grunt.png" alt=""/>
                <span class="skillAnimation">Grunt</span>
            </li>
            <li>
                <img src="assets/images/about/bower.png" alt=""/>
                <span class="skillAnimation">Bower</span>
            </li>
            <li>
                <img src="assets/images/about/git.png" alt=""/>
                <span class="skillAnimation">Git</span>
            </li>
            <li>
                <img src="assets/images/about/github.png" alt=""/>
                <span class="skillAnimation">GitHub</span>
            </li>
            <li>
                <img src="assets/images/about/sourcetree.png" alt=""/>
                <span class="skillAnimation">SourceTree</span>
            </li>
            <li>
                <img src="assets/images/about/webstorm.png" alt=""/>
                <span class="skillAnimation">WebStorm</span>
            </li>
            <li>
                <img src="assets/images/about/sublime.png" alt=""/>
                <span class="skillAnimation">Sublime</span>
            </li>

        </ul>
    </div>
    <div class="captionHeader"
         data-250p="opacity: 0;"
         data-300p="opacity: 1;"
         data-420p="opacity: 0;"
         data-anchor-target="#helper"
            >
        {{> header}}
    </div>
    <div class="captionFooter"
         data-250p="opacity: 0;"
         data-300p="opacity: 1;"
         data-420p="opacity: 0;"
         data-anchor-target="#helper"
            >
        {{> footer}}
    </div>
</div>