
<div id="about" class="slide">
    <div class="textContent">
        <span>
            Hey My name is Somy
            I’m front end developer
            Scroll down to see my cool website
        </span>
        <span>
            Some of tools I work with:
        </span>
        <ul class="">
            <li>
                <img src="assets/images/about/html5.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/css3.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/javascript.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/jquery.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/sass-less.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/bootstrap.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/handlebars.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/grunt.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/bower.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/git.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/github.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/sourcetree.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/webstorm.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/sublime.png" alt=""/>
            </li>

        </ul>
    </div>
    <div class="captionHeader"
         data-250p="opacity: 0; transform:translate(300px,0px);"
         data-300p="opacity: 1; transform:translate(0px,0px);"
         data-anchor-target="#helper"
            >
        {{> header}}
    </div>
    <div class="captionFooter"
         data-250p="opacity: 0; transform:translate(300px,0px);"
         data-300p="opacity: 1; transform:translate(0px,0px);"
         data-anchor-target="#helper"
            >
        {{> footer}}
    </div>
</div>