
<div id="about" class="slide">
    <div class="textContent">
        <span>
            <strong>A little bit more about me:</strong> <br/>
            In June 2014 I switched from electrical engineering to front end developing as I had a great desire to do something more creative.<br/>
            Now here I am and absolutely <span class="fa fa-heart"></span> my job.<br/>
        </span>
        <span>
            Some tools I work with are:
        </span>
        <ul>
            <li>
                <img src="assets/images/about/html5.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/css3.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/javascript.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/jquery.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/sass-less.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/bootstrap.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/handlebars.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/grunt.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/bower.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/github.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/sourcetree.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/webstorm.png" alt=""/>
            </li>
            <li>
                <img src="assets/images/about/sublime.png" alt=""/>
            </li>

        </ul>
    </div>
    <div class="captionHeader"
         data-250p="opacity: 0;"
         data-300p="opacity: 1;"
         data-420p="opacity: 0;"
         data-anchor-target="#helper"
            >
        {{> header}}
    </div>
    <div class="captionFooter"
         data-250p="opacity: 0;"
         data-300p="opacity: 1;"
         data-420p="opacity: 0;"
         data-anchor-target="#helper"
            >
        {{> footer}}
    </div>
</div>