
<div id="about" class="slide">
    <div class="container">
        <div class="textContent">
            <span>
                Hey My name is Somy
                I’m front end developer
                Scroll down to see my cool website
            </span>
            <span>
                Some of tools I work with:
            </span>
            <ul class="">
                <li>
                    <img src="assets/images/about/html5.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/css3.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/javascript.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/jquery.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/sass-less.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/bootstrap.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/handlebars.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/grunt.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/bower.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/git.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/github.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/sourcetree.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/webstorm.png" alt=""/>
                </li>
                <li>
                    <img src="assets/images/about/sublime.png" alt=""/>
                </li>

            </ul>
        </div>
        {{> header}}
        {{> nav-main}}
        {{> footer}}
    </div>
</div>