
<div id="contact" class="slide">
    <div class="container">
        <ul class="textContent">
            <li>
                <span class="fa fa-map-marker"></span>
                Melbourne-Australia
            </li>
            <li>
                <span class="fa fa-envelope-o"></span>
                somy.taheri@gmail.com
            </li>
            <li>
                <span class="fa fa-phone-square"></span>
                0469 982 994
            </li>
        </ul>
        {{> header}}
        {{> nav-main}}
        {{> footer}}
    </div>
</div>