
<div id="contact" class="slide">
    <div class="container">
        <ul class="textContent">
            <li>
                <span class="fa fa-map-marker"></span>
                Melbourne-Australia
            </li>
            <li>
                <span class="fa fa-envelope-o"></span>
                somy.taheri@gmail.com
            </li>
            <li>
                <span class="fa fa-phone-square"></span>
                0469 982 994
            </li>
        </ul>
        <div class="captionHeader"
             data-430p="opacity: 0;"
             data-450p="opacity: 1;"
             data-anchor-target="#helper"
                >
            {{> header}}
        </div>
        <div class="captionFooter"
             data-430p="opacity: 0;"
             data-450p="opacity: 1;"
             data-anchor-target="#helper"
                >
            {{> footer}}
        </div>
    </div>
</div>