---
layout: master.hbs
---
<footer id="footer">
        <div class="left">
            <small><span class="year">2014</span> © SOMY TAHERI</small>
        </div>
        <div class="right">
            <ul>
                <li>
                    <a href=""><span class="fa fa-linkedin-square"></span></a>
                </li>
                <li>
                    <a href=""><span class="fa fa-github-square"></span></a>
                </li>
                <li>
                    <a href=""><span class="fa fa-stack-overflow"></span></a>
                </li>
            </ul>
        </div>
</footer>