---
layout: master.hbs
---

<footer class="footer">
        <div class="left">
            <small><span class="year">2014</span> © SOMY TAHERI</small>
        </div>
        <ul class="right">
            <li>
                <a href="https://www.linkedin.com/pub/somy-taheri/a6/a49/58" target="_blank"><span class="fa fa-linkedin-square"></span></a>
            </li>
            <li>
                <a href="https://github.com/somytaheri" target="_blank"><span class="fa fa-github-square"></span></a>
            </li>
            <li>
                <a href="http://stackoverflow.com/users/4144355/somi" target="_blank"><span class="fa fa-stack-overflow" target="_blank"></span></a>
            </li>
        </ul>
</footer>