
<div id="home" class="slide">
    <div class="textContent">
        <span>
            Hey My name is Somy
            I’m front end developer
            Scroll down to see my cool website
        </span>
    </div>
    <div class="captionHeader"
         data-40p="opacity: 1;"
         data-70p="opacity: 0;"
         data-anchor-target="#helper"
            >
        {{> header}}
    </div>
    <div class="captionFooter"
         data-40p="opacity: 1;"
         data-50p="opacity: 0;"
         data-anchor-target="#helper"
            >
        {{> footer}}
    </div>
</div>