
<div id="home" class="slide">
    <div class="container">
        {{> header}}
        <div class="homeText">
            <span>
                Hey My name is Somy
                I’m front end developer
                Scroll down to see my cool website
            </span>
        </div>
        {{> nav-main}}
        {{> footer}}
    </div>
</div>