<nav id="menu">
    <ul class="navStyle">
        <li class="page-scroll" id="navHome"><a href="#home" class="circleOuter"><span class="circleInner"></span></a></li>
        <li class="page-scroll" id="navProfile"><a href="#portfolio" class="circleOuter"><span class="circleInner"></span></a></li>
        <li class="page-scroll" id="navAbout"><a href="#about" class="circleOuter"><span class="circleInner"></span></a></li>
        <li class="page-scroll" id="navContact"><a href="#contact" class="circleOuter"><span class="circleInner"></span></a></li>
    </ul>
</nav>