<nav id="menu">
    <ul class="navStyle">
        <li class="page-scroll" id="navHome">
            <div href="" class="circleOuter">
                <span class="circleInner"></span>
                <span class="navHover">Home</span>
            </div>
        </li>
        <li class="page-scroll" id="navProfile">
            <div href="" class="circleOuter">
                <span class="circleInner"></span>
                <span class="navHover">Portfolio</span>
            </div>
        </li>
        <li class="page-scroll" id="navAbout">
            <div href="" class="circleOuter">
                <span class="circleInner"></span>
                <span class="navHover">About</span>
            </div>
        </li>
        <li class="page-scroll" id="navContact">
            <div href="" class="circleOuter">
                <span class="circleInner"></span>
                <span class="navHover">Contact</span>
            </div>
        </li>
    </ul>
</nav>
