<nav id="menu">
    <ul class="navStyle">
        <li id="navHome"><a href="" class="circleOuter"><span class="circleInner"></span></a></li>
        <li id="navProfile"><a href="" class="circleOuter"><span class="circleInner"></span></a></li>
        <li id="navAbout"><a href="" class="circleOuter"><span class="circleInner"></span></a></li>
        <li id="navContact"><a href="" class="circleOuter"><span class="circleInner"></span></a></li>
    </ul>
</nav>