
<div id="portfolio" class="slide">
    <div class="container">
        <div class="portfolioItems">
            <ul>
                <a href="http://rahiemakeup.com/" target="_blank">
                    <li class="col-xs-12 col-sm-4">
                        <img src="assets/images/portfolio/00.jpg" alt="" />
                        <div class="portfolioDescription">
                            <h3>Rahie Makeup</h3>
                            <p>html</p>
                        </div>
                    </li>
                </a>
                <a href="http://rahiemakeup.com/" target="_blank">
                    <li class="col-xs-12 col-sm-4">
                        <img src="assets/images/portfolio/01.jpg" alt="" />
                        <div class="portfolioDescription">
                            <h3>Rahie Makeup</h3>
                            <p>HTML5, CSS3, BOOTSTRAP, SASS</p>
                        </div>
                    </li>
                </a>
                <a href="http://rahiemakeup.com/" target="_blank">
                    <li class="col-xs-12 col-sm-4">
                        <img src="assets/images/portfolio/02.jpg" alt="" />
                        <div class="portfolioDescription">
                            <h3>Rahie Makeup</h3>
                            <p>html</p>
                        </div>
                    </li>
                </a>
                <a href="http://rahiemakeup.com/" target="_blank">
                    <li class="col-xs-12 col-sm-4">
                        <img src="assets/images/portfolio/03.jpg" alt="" />
                        <div class="portfolioDescription">
                            <h3>Rahie Makeup</h3>
                            <p>html</p>
                        </div>
                    </li>
                </a>
                <a href="http://rahiemakeup.com/" target="_blank">
                    <li class="col-xs-12 col-sm-4">
                        <img src="assets/images/portfolio/04.jpg" alt="" />
                        <div class="portfolioDescription">
                            <h3>Rahie Makeup</h3>
                            <p>html</p>
                        </div>
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <div class="captionHeader"
         data-130p="opacity: 0; transform:translate(0px,-200%);"
         data-180p="opacity: 1; transform:translate(0px,0px);"
         data-250p=""
         data-280p="opacity: 0; transform:translate(-100px,0px);"
         data-anchor-target="#helper"
            >
        {{> header}}
    </div>
    <div class="captionFooter"
         data-130p="opacity: 0; transform:translate(0px,-200%);"
         data-180p="opacity: 1; transform:translate(0px,0px);"
         data-250p=""
         data-280p="opacity: 0; transform:translate(-100px,0px);"
         data-anchor-target="#helper"
            >
        {{> footer}}
    </div>
</div>

