
<div id="portfolio" class="slide">
    <div class="container">
        <div class="portfolioItems">
            <ul>
                <li class="col-xs-12 col-sm-4 col-sm-4">
                    <a href="http://rahiemakeup.com/" target="_blank">
                        <img src="assets/images/portfolio/00.jpg" alt="" />
                        <div class="portfolioDescription">
                            <div class="centredContent">
                                <h3>Rahie Makeup</h3>
                                <p>HTML5, CSS3, jQuery, Bootstrap, Mobile First</p>
                            </div>
                        </div>
                     </a>
                </li>
                <li class="col-xs-12 col-sm-4">
                    <a href="http://vigosmart.com/new/" target="_blank">
                        <img src="assets/images/portfolio/01.jpg" alt="" />
                        <div class="portfolioDescription">
                            <div class="centredContent">
                                <h3>Vigosmart</h3>
                                <p>HTML5, CSS3, jQuery, Bootstrap, Responsive</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-xs-12 col-sm-4">
                    <a href="http://zacfard.com/" target="_blank">
                        <img src="assets/images/portfolio/02.jpg" alt="" />
                        <div class="portfolioDescription">
                            <div class="centredContent">
                                <h3>Zac Fard</h3>
                                <p>HTML5, CSS3, jQuery, Bootstrap, Handlebars</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="captionHeader"
         data-130p="opacity: 0;"
         data-150p="opacity: 1;"
         data-280p="opacity: 0;"
         data-anchor-target="#helper"
            >
        {{> header}}
    </div>
    <div class="captionFooter"
         data-130p="opacity: 0;"
         data-150p="opacity: 1;"
         data-280p="opacity: 0;"
         data-anchor-target="#helper"
            >
        {{> footer}}
    </div>
</div>

