
<div id="profile" class="slide">
    <div class="container">
        {{> header}}
        <div class="slider-wrapper" id="slider1_container" >
            <div data-u="slides" class="slider-content">
                <div><img data-u="image" src="assets/images/00.jpg"/></div>
                <div><img data-u="image" src="assets/images/01.jpg"/></div>
                <span data-u="arrowleft" class="jssora21l" style="left:8px;"></span>
                <span data-u="arrowright" class="jssora21r" style="right:8px;"></span>
            </div><!-- /.slider-wrapper -->
        </div><!-- /.slider-content -->
        {{> nav-main}}
        {{> footer}}
    </div>
</div>