.captionFooter {
  width: 100%;
  position: absolute;
  bottom: 30px;
}
  #footer {
    ul {
      li {
        float: left;
        margin-left: 10px;
        .fa {
          font-size: 25px;
        }
      }
    }
  }
