#menu {
  position: absolute;
  top: 50%;
  right: 10px;
  .translate(0,-50%);
  .navStyle {
    #navHome {
      position: relative;
      a:hover:after {
        content: "Home";
        position: absolute;
        right: 40px;
        top: 0px;
        font-size: 18pt;
      }
    }
    #navProfile {
      position: relative;
      a:hover:after {
        content: "Profile";
        position: absolute;
        right: 40px;
        top: 0px;
        font-size: 18pt;
      }
    }
    #navAbout {
      position: relative;
      a:hover:after {
        content: "About";
        position: absolute;
        right: 40px;
        top: 0px;
        font-size: 18pt;
      }
    }
    #navContact {
      position: relative;
      a:hover:after {
        content: "Contact";
        position: absolute;
        right: 40px;
        top: 0px;
        font-size: 18pt;
      }
    }

    .circleOuter {
      .border-radius(50%);
      background-color: rgba(250,250,250,0.5);
      width: 25px;
      height: 25px;
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .circleInner {
      .border-radius(50%);
      background-color: @white;
      width: 15px;
      height: 15px;
      display: block;
      .translate(30%,30%);
    }
  }


}
@media (min-width: @min-small) {
  #menu {
    right: -35px;
    .navStyle {

      .circleOuter {
        .border-radius(50%);
        width: 35px;
        height: 35px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .circleInner {
        .border-radius(50%);
        width: 25px;
        height: 25px;
        .translate(20%, 20%);
      }
    }
  }
}
