
  #slides-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  #slides {
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .slide {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:50%;
  }
  #home {
    background: @colorHome no-repeat center center;
    background-size: cover;
    top: 0;
    left: 0;
  }
  #portfolio {
    background: @colorPort no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 0;
  }
  #about {
    background: @colorAbout no-repeat center center;
    background-size: cover;
    top: 50%;
    left: 50%;
  }
  #contact {
    background: @colorContact no-repeat center center;
    background-size: cover;
    top: 0;
    left: 50%;
  }

