@white:       #fff;
@blue:        #0fa2b2;
@matterhorn:  #483840;
@pink:        #F2508B ;
@green :      #04BF9D;
@red :        #f00;
@black:       #000;


@min-small     :    768px;
@min-medium    :    992px;
@min-large     :    1200px;

@font-custom: lato;